{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe{% endblock %}


{% block content %}
    <h3>Recipe Details</h3>
    <h2>{{ recipe.name }}</h2>
    Recipe by: {{ recipe.author }}
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }} ( {{ ingredient.quantity }} )</li>
        {% endfor %}
    </ul>
    <a href="{% url 'ledger:image-add' pk=object.pk %}">Create Image</a>
    {% for image in object.image.all %}
        {% if image %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endif %}
    {% endfor %}
{% endblock %}